.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  h1 {
    text-align: left;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
  
 
  .item {
    display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 35px;
  padding: 1%;
  margin: 2% auto;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 3px 5px;
  text-align: center;
  color: white;
  background-color: #5dc7f1;
  font-weight: 600;
  cursor: pointer;

  }

  .item:hover {
    background-color: #16475a;
  }
  
  .item.completed {
    background-color: #d17d7c;
    text-decoration: line-through;
  }
  
  form {
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
  }

  hr {
    width: 70%;
    height: 6px;
    border: none;
    border-radius: 10px;
    background:#ff3366;
    margin: 2% auto;
  }
  
  form > input {
    background-color: #8d8d8d;
    border: none;
    padding: 6px 0;
    font-size: 1rem;
    width: 240px;
    outline: 0;
    color: white;
    border-bottom: 1px solid #65d7e6;
    margin-right: 8px;
  }
  
  .submit {
    background-color: #65d7e6;
    border: none;
    color: white;
    font-size: 16px;
    padding: 6px 14px;
    cursor: pointer;
    border-radius: 25px;
    margin: 5px;
  }

  .submit:hover {
    background-color: #16475a;
    transform: scale(1.02);
  }

  .remove {
    background-color: #e66565;
    border: none;
    color: white;
    font-size: 16px;
    padding: 6px 14px;
    cursor: pointer;
    border-radius: 25px;
    margin: 5px;
  }

  .remove:hover {
    background-color: #fc003f; 
    transform: scale(1.02);
  }
  
  input::placeholder {
    color: #5dc7f1;
    opacity: 1;
    
  }

  input {
    height: 25px;
    border-radius: 25px;
  }
  
  .clear-btn {
    background-color: #6d6d82;
    margin-top: 16px;
    font-size: 0.8rem;
  }

  .listContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }